body {
  margin: 0;
  font-family: Arial;
  background: #eef5ff;
}

.app {
  padding: 20px;
}

/* Title */
h1 {
  text-align: center;
  color: #2563eb;
}

/* Controls */
.controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

input, select {
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #cbd5e1;
  width: 220px;
  outline: none;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

/* Card */
.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #e2e8f0;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Info */
.info {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

/* Button */
button {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  width: auto;
  margin: 0 5px;
}

/* Detail Page */
.detail {
  padding: 20px;
}

.back {
  background: #e0e7ff;
  color: #2563eb;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.detail-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
}